<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-10">
      <%= link_to "Create new Recipe", new_user_new_recipe_path(current_user), class: "btn btn-success mb-4" %> 
      
      <% @recipes.each do |recipe| %>
      <div class="card mb-4">
        <div class="card-body">
          <div class="row">
            <div class="col-md-8">
              <h5 class="card-title">
                <%= link_to recipe.name, user_new_recipe_path(current_user, recipe), class: "text-primary" %>
              </h5>
              <%= button_to user_new_recipe_path(current_user, recipe), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger mt-2" do %>
                Remove
              <% end %>
            </div>
            <div class="col-md-4 text-center">
              
              <p class="card-text text-success"><%= recipe.description %></p>
            </div>
          </div>
        </div>
      </div>
      <% end %>
      
    </div>
  </div>
</div>
